---
import PostList from '@/components/PostList.astro'
import TagList from '@/components/TagList.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag } from '@/utils/content'

export async function getStaticPaths() {
  const allTags = await getAllTags()
  
  return allTags.map((tag: string) => ({
    params: { tags_tag: `tags/${tag}/` },
    props: { tag }
  }))
}

const { tag } = Astro.props
const posts = await getPostsByTag(tag)
const allTags = await getAllTags()
---

<Layout>
  <!-- Decorative Line -->
  <div class="uno-decorative-line" />
  <!-- Tag List -->
  <TagList
    tags={allTags}
    currentTag={tag}
  />

  <!-- Posts List -->
  <div class="mt-10.5">
    <PostList
      posts={posts}
    />
  </div>
</Layout>
